.footer-copy{
  background: #FE600F;

  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
 padding: 20px;

  leading-trim: both;
  text-edge: cap;
  text-align: center;

  color: #FFFFFF;

}