.home-all{
  height:100%;
  width: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #FDFAE7 0%, #FFFFFF 100%);

}


.home-circlar {
  width: 150px;
  height: 150px;
  margin: 4px auto 0;
  position: absolute;
  left: 231.84px;
  top: 170px;
  letter-spacing: 0.14em;
  font-weight: 600;
}

.home-circlar svg {
  display: block;
  overflow: visible;
  transition: 10s;

}

.home-circlar svg:hover {
  transform: rotate(-2turn);
  transition-duration: 10s;
}

.home-circlar path {

  fill: none;
}

@keyframes swing {
  15%{transform: translate(5px)}
  40%{transform: translate(-5px)}
  65%{transform: translate(2px)}
  85%{transform: translate(-2px)}
  100%{transform: translate(0px)}
}
.home-photo:hover{
  animation: swing 0.5s 1;
}

.home-photo{
  width: 470px;
  height: 589.26px;
  margin-top: 70px;

}

.home{
  display: flex;
  justify-content: space-around;
  padding-bottom: 170px;


}
.home-left{
  display:flex;
  align-items: flex-start;
}
.home-right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 50px;
  margin-top: 170px;

  .home-slogan p {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    //flex-wrap: wrap;


    font-family: 'Source Serif Pro';
    font-size: 50px;
    font-weight: 600;
    line-height: 100px;
    letter-spacing: 0.08em;
    color: #C69D5F;


    .home-wisdom {
      color: #FE600F;
    }
  }
  .home-slogan:hover{
    transform: scale(1.1);

  }

  .home-btn{

    width: 150px;
    height: 50px;
    border-radius: 100px;
    margin-top:130px;
  }

}
.home-btn:hover{
  transform: scale(1.2);
  cursor: pointer;
}