.home-slogan{
  font-family: 'Source Serif Pro';
  font-size: 31px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0.08em;
  color: #C69D5F;
  .home-wisdom{
    color: #FE600F;
  }
}

.home-circle{
  font-family: 'Source Serif Pro', serif;
  font-style: normal;
  font-weight: 600;
  width: 213.4px;
  height: 213.5px;
  margin: 4em auto 0;
  color: #FE600F;
  svg{
      display: block;
      overflow: visible;
      transition: 10s;
  }
  svg:hover {
    transform: rotate(-2turn);
  }
  path {
    fill: none;
  }
}

.home-photo{
  width: 533px;
  height: 675px;
}
.home-left{
  display:flex;
  flex-direction: column;
}
.home-right{

}
