.home-circlar {
  width: 150px;
  height: 150px;
  margin: 4px auto 0;
}

.home-circlar svg {
  display: block;
  overflow: visible;
  transition: 10s;

}

.home-circlar svg:hover {
  transform: rotate(-2turn);
}

.home-circlar path {
  color: #FE600F;
  fill: none;
}




.home-photo{
  width: 533px;
  height: 675px;
}

.home{
  display: flex;
  justify-content: space-around;

  background: radial-gradient(54.86% 13.29% at 50% 11.78%, #F4EEE0 0%, #FFFFFF 100%);
}
.home-left{
  display:flex;
  align-items: flex-start;
}
.home-right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  .home-slogan p{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;

    font-family: 'Source Serif Pro';
    font-size: 31px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0.08em;
    color: #C69D5F;

    .home-wisdom {
      color: #FE600F;
    }
  }

  .home-btn{

    width: 208px;
    height: 66px;
    border-radius: 100px;
  }

}
