.paint-all {
  background-color: #F9F7F0;
  width: 100%;
  height:1300px;
  left: 0;
  top: 0;

  position: absolute;


  .paint-sip {

    //position: absolute;
    //width: 100%;
    //height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 130px;
    padding-top: 50px;
    padding-bottom: 100px;

    .paint-article {
      width: 455px;
      //height: 864px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .paint-name-ch {
        font-family: 'Source Serif Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 60px;
        line-height: 78px;
        color: #32721D;

      }

      .paint-name-en {
        font-family: 'Source Serif Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 50px;
        color: #32721D;
      }

      .paint-topic {
        font-family: 'Noto Sans HK';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 35px;
        color: #C69D5F;
        margin-top: 72px;
        margin-bottom: 23px;
      }

      .paint-topic-name {
        font-family: 'Noto Sans HK';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 43px;
        color: #FE600F;
        margin-bottom: 72px;
      }

      .paint-inside-article {
        text-align: left;
        justify-content: flex-start;
        font-family: 'Noto Sans HK';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 36px;
        color: #975314;


      }
    }

    .paint-work {
      width: 770px;
      height: 850px;
      overflow-y: scroll;
      background: #F9F7F0;

      .paint-photo {
        margin-top: 170px;

        .paint {
          width: 745px;
        }

      }
    }

  }
  .paint-delete {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 50px;
    margin-top: 20px;

  }

  .paint-delete-photo {
      width: 90px;
  }
}