.portfolio{
  background: radial-gradient(156.71% 64.02% at 50% 33.7%, #F4EEE0 0%, #FFFFFF 100%);

  .portfolio-font {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: #FE600F;
    padding: 105px;
  }
  .portfolio-work{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    margin-right: 100px;
    margin-left: 100px;

    .portfolio-left-work-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 80px;
      .portfolio-left-work{
        position: relative;
      }
    }
    .portfolio-right-work-container{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 80px;
      .portfolio-right-work{
        position: relative;
      }
    }
  }
  .portfolio-go-home{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width:1632px;
    .go-home-btn{
      width: 190px;
      height: 80px;
      margin: 150px;
    }
  }

}
.go-home-btn:hover{
  transform: scale(1.2);
  cursor: pointer;

}



.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 431px;
  background-color: rgba(0,0,0,0.5); /* 設定半透明背景顏色 */
  color: #fff; /* 設定文字顏色 */
  text-align: center; /* 將文字置中 */
  display: block; /* 預設不顯示 */
  border-radius: 25px;
}
// 滑鼠移上去時
.portfolio-relay:hover .overlay
{
  display: none
}

.portfolio-image{
    width: 485px;
    height: 431px;
}
.overlay-font{
  font-family: 'Noto Sans HK';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  leading-trim: both;
  text-edge: cap;
  color: #FFFFFF;
  width: 160px;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
   align-items: flex-start;
  margin-left: 60px;
  border-bottom: #ffffff 2px solid;

}
.border{
  padding-bottom:6px;
}
