.Taiwan-all {
  background-color: #F9F7F0;
  width: 100%;
  height:1500px;
  left: 0;
  top: 0;

  position: absolute;


  .Taiwan-culture {

    //position: absolute;
    //width: 100%;
    //height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 130px;
    padding-top: 30px;
    padding-bottom: 30px;

    .Taiwan-article {
      width: 455px;
      //height: 864px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .Taiwan-name-ch {
        font-family: 'Source Serif Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 78px;
        color: #32721D;

      }

      .Taiwan-name-en {
        font-family: 'Source Serif Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 50px;
        color: #32721D;
      }

      .Taiwan-topic {
        font-family: 'Noto Sans HK';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 35px;
        color: #C69D5F;
        margin-top: 72px;
        margin-bottom: 23px;
      }

      .Taiwan-topic-name {
        font-family: 'Noto Sans HK';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 43px;
        color: #FE600F;
        margin-bottom: 72px;
      }

      .Taiwan-inside-article {
        text-align: left;
        justify-content: flex-start;
        font-family: 'Noto Sans HK';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 36px;
        color: #975314;
      }

      .Taiwan-aww-photo {
        .Taiwan-culture-aww {
          width: 250px;
          margin-top: 50px;
        }
      }
    }

    .Taiwan-work {
      width: 725px;
      //height: px;

      background: #F9F7F0;

      .Taiwan-photo {
        margin-top:px;

        .Taiwan {
          width: 700px;
        }

      }
    }

  }
  .Taiwan-delete {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 50px;
    margin-top: 20px;

  }

  .Taiwan-delete-photo {
    width: 90px;
  }
}
